@import url('https://fonts.googleapis.com/css?family=Catamaran')
body {
    margin: 0px;
    background-color: #E3F2F0;
    font-family: 'Catamaran', sans-serif;
}
.column {
    float: left;
    position: absolute;
    z-index: -20;
}

.links line {
 stroke: #999;
 stroke-opacity: 0.6;
}

/*
.nodes circle {
 stroke: #fff;
 stroke-width: 1.5px;
}
.node .selected {
  stroke: black;
}
*/


#decisionPane, #descriptionPane {
    width: calc(25% - 4px - 20px);
    /*height: 90%;*/
    padding-right: 10px;
    padding-left: 20px;
    /*background-color: gainsboro;*/
    border: 2px #d3d3d3 solid;
    z-index: 30;
}
#visualizationPane {
    width: calc(75%);
    height: calc(100vh - 4px);
    background-color: whitesmoke;
    position: fixed;
    right: 0;
    z-index: -20;
}
#dropDown {
    margin-left: 5%;
    width: 80%;
}
